.gallery{
   /* display: flex;
   align-items: center;
   justify-content: center;
width: 100%; */
margin: 100px 60px;

  }

.gallery__container {
    overflow: hidden;
}

.gallery__item{
   width: 100%;
   display: block;
border-radius: 2px;
 cursor: pointer;

transition: transform 1.5s ease-in-out;
}

.gallery__item:hover {
   transform: scale(1.05);
}

@media screen and (max-width: 425px) {
   .gallery {
      margin: 100px 30px;
   }
}


@media screen and (max-width: 375px) {
   .gallery {
      margin: 100px 20px;
   }
}