.image-popup{
    position: fixed;
top: 0;
bottom: 0;
left: 0;
right: 0;
background: rgba(255, 255, 255, 0.8);
width: 100%;
z-index: 40;
display: flex;
justify-content: center;
align-items: center;

}

.image-popup__container{

}

.image-popup__image{
    max-width: 800px;
    height: 600px;
    border-radius: 2px;
    object-fit: contain;
}

.image-popup__close-button{
    background: url('../../images/Close-Icon.svg') no-repeat center/cover;
    height: 40px;
    width: 40px;
    border: none;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    padding: 0;
}

@media screen and (max-width: 900px) {
    .image-popup__image{
        max-width: 600px;
        max-height: 500px;
    }


}

@media screen and (max-width: 730px) {
    .image-popup__image{
        max-width: 400px;
        max-height: 490px;
        object-fit: contain;
    }


}


@media screen and (max-width: 375px) {
    .image-popup__image{
        max-width: 370px;
        max-height: 490px;
       
    }
}


@media screen and (max-width: 320px) {
    .image-popup__image{
        max-width: 315px;
        max-height: 490px;
       
    }
}
