.connect{
    height: 500px;
    background: url('../../images/slides/interior.jpg') no-repeat center/cover;
    background-attachment: fixed;
    position: relative;
    display: flex;
justify-content: end;
align-items: center;
flex-direction: column;

}

.connect__header {
    color: white;
    z-index: 1;
    font-family: 'Anton-Reg';
    font-size: 30px;
    letter-spacing: 1px;
    margin: 0 0 30px;
}

.connect__button-container{
 z-index: 1;
}

.connect__button{
    position: relative;
z-index: 1;
background-color: transparent;
color: white;
border: solid 1px white;
border-radius: 2px;
width: 150px;
height: 40px;
font-size: 20px;
letter-spacing: 2px;
margin: 0 0 150px;
cursor: pointer;
transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;

}

.connect__button:hover{
    background-color: white;
    color: #7f2b0a;
}



.connect__overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 0;
}