.work {
    /* min-height: 710px; */
    background: url('../../images/slides/slide2.webp') no-repeat center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;

}

.work__gallery-container {
   min-height: 710px;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
    width: 100%;
     display: flex;
     flex-direction: column;
    /* flex-direction: column;
    align-items: center;
    overflow-x: auto;
    justify-content: start;  */
}

.work__gallery{
    list-style: none;
    padding: 0;
    display: flex;
    /* grid-template-columns: repeat(align-items, 400px); */
    column-gap: 50px;
    /* row-gap: 20px; */
   height: 400px;
    justify-content: start;
    margin: 150px 60px 100px;  
    overflow-x: auto;
    align-items: center;
}

.work__image-card {
 height: 400px;
 display: block;
}

.work__image{
    border: none;
    border-radius: 2px;
    overflow: hidden;
    position: relative;
     width: 400px;
    height: 400px;
    position: relative;
    color: #f3f2ed;
    cursor: pointer;
    object-fit: cover;
    display: block;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1), 0 16px 24px rgba(0,0,0,0.2);
}

.work__header {
    margin: 0 auto 30px;
    letter-spacing: 1px;
    color: white;
    font-family: 'Anton-Reg';
    font-size: 30px;
}

.work__button-container{
    margin: 0 auto;
}

.work__button {
    margin: 0 auto 120px;
    background-color: transparent;
    color: white;
    border: solid 1px white;
    border-radius: 2px;
    width: 150px;
    height: 40px;
    font-size: 20px;
    letter-spacing: 2px;
 
    cursor: pointer;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
   
}

.work__button:hover{
    background-color: white;
    color: #001e17;
}
